@model InquirySpark.Repository.Database.Application

@{
    ViewData["Title"] = "Create";
}

<h1>Create Application</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationNm" class="control-label"></label>
                <input asp-for="ApplicationNm" class="form-control" />
                <span asp-validation-for="ApplicationNm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationCd" class="control-label"></label>
                <input asp-for="ApplicationCd" class="form-control" />
                <span asp-validation-for="ApplicationCd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationShortNm" class="control-label"></label>
                <input asp-for="ApplicationShortNm" class="form-control" />
                <span asp-validation-for="ApplicationShortNm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationTypeId" class="control-label"></label>
                <select asp-for="ApplicationTypeId" class ="form-control" asp-items="ViewBag.ApplicationTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationDs" class="control-label"></label>
                <input asp-for="ApplicationDs" class="form-control" />
                <span asp-validation-for="ApplicationDs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuOrder" class="control-label"></label>
                <input asp-for="MenuOrder" class="form-control" />
                <span asp-validation-for="MenuOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
