@model InquirySpark.Repository.Database.QuestionGroupMember

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>QuestionGroupMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuestionGroupMemberId" />
            <div class="form-group">
                <label asp-for="QuestionGroupId" class="control-label"></label>
                <select asp-for="QuestionGroupId" class="form-control" asp-items="ViewBag.QuestionGroupId"></select>
                <span asp-validation-for="QuestionGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionId" class="control-label"></label>
                <select asp-for="QuestionId" class="form-control" asp-items="ViewBag.QuestionId"></select>
                <span asp-validation-for="QuestionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionWeight" class="control-label"></label>
                <input asp-for="QuestionWeight" class="form-control" />
                <span asp-validation-for="QuestionWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayOrder" class="control-label"></label>
                <input asp-for="DisplayOrder" class="form-control" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedId" class="control-label"></label>
                <input asp-for="ModifiedId" class="form-control" />
                <span asp-validation-for="ModifiedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDt" class="control-label"></label>
                <input asp-for="ModifiedDt" class="form-control" />
                <span asp-validation-for="ModifiedDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
