@model InquirySpark.Repository.Database.SurveyReviewStatus

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SurveyReviewStatus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SurveyReviewStatusId" />
            <div class="form-group">
                <label asp-for="SurveyId" class="control-label"></label>
                <select asp-for="SurveyId" class="form-control" asp-items="ViewBag.SurveyId"></select>
                <span asp-validation-for="SurveyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewStatusId" class="control-label"></label>
                <input asp-for="ReviewStatusId" class="form-control" />
                <span asp-validation-for="ReviewStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewStatusNm" class="control-label"></label>
                <input asp-for="ReviewStatusNm" class="form-control" />
                <span asp-validation-for="ReviewStatusNm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewStatusDs" class="control-label"></label>
                <input asp-for="ReviewStatusDs" class="form-control" />
                <span asp-validation-for="ReviewStatusDs" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ApprovedFl" /> @Html.DisplayNameFor(model => model.ApprovedFl)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CommentFl" /> @Html.DisplayNameFor(model => model.CommentFl)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedId" class="control-label"></label>
                <input asp-for="ModifiedId" class="form-control" />
                <span asp-validation-for="ModifiedId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedDt" class="control-label"></label>
                <input asp-for="ModifiedDt" class="form-control" />
                <span asp-validation-for="ModifiedDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
