@model InquirySpark.Repository.Database.Role

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Role</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleCd" class="control-label"></label>
                <input asp-for="RoleCd" class="form-control" />
                <span asp-validation-for="RoleCd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleNm" class="control-label"></label>
                <input asp-for="RoleNm" class="form-control" />
                <span asp-validation-for="RoleNm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleDs" class="control-label"></label>
                <input asp-for="RoleDs" class="form-control" />
                <span asp-validation-for="RoleDs" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ReadFl" /> @Html.DisplayNameFor(model => model.ReadFl)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UpdateFl" /> @Html.DisplayNameFor(model => model.UpdateFl)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
